*
{
    margin:0px;
    padding:0px;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}
h1
{
    font-size: 80px;
}
.orange-color
{
    color:tomato;
}
.flexible-container
{
    display: flex;
}
.first-side
{
    padding:100px;
}
.second-side
{
    padding-left:200px;
}