*
{
    margin:0px;
    padding:0px;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}
h1
{
    font-size: 80px;
}
.first-side-para
{
    color:gray;
    font-size:25px;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
}
.button1
{
    text-decoration:none;
    color:white;
    font-weight: 500;
    background-image: linear-gradient(red,tomato);
    border-radius: 80px;
    padding-left:100px;
    padding:30px;
}
.orange-color
{
    color:tomato;
}
.flexible-container
{
    display: flex;
}
.first-side
{
    padding:100px;
}
.second-side
{
    padding-left:200px;
}