*
{
    margin:0px;
    padding:0px;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}
h1
{
    font-size: 80px;
}
.first-side-para
{
    color:gray;
    font-size:25px;
    letter-spacing: 2.5px;
    margin-bottom: 40px;
}
.button1
{
    text-decoration:none;
    color:white;
    font-weight: 500;
    background-image: linear-gradient(red,tomato);
    border-radius: 80px;
    padding-left:100px;
    padding:30px;
}
.orange-color
{
    color:tomato;
}
.first-section
{
    margin-bottom: 70px;
}
.flexible-container
{
    display: flex;
}
.first-side
{
    padding:100px;
}
.second-side
{
    padding-left:200px;
}
.first-side img
{
    width: 50%;
    height: 99%;
}
.second-section-right
{
    padding-top:100px;
    padding-right: 40px;
}
.second-section
{
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-size: 1900px 900px;
    margin-bottom: 10px;
}
.second-side-para
{
    margin-bottom: 110px;
}
.my-recipies
{
    text-align: center;
    font-size:30px;
}
.container
{
    display: flex;
    padding:100px 200px;
    
}
.image img
{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.container-item
{
    
    width: 400px;
    padding:30px;
    box-shadow: 5px 05px 5px grey;
    border-radius: 10px;
    margin-right: 150px;
}

.social-media
{
    background-color: rgb(252, 249, 249);
    padding:30px;
    border-radius: 10px;
    margin:0 200px 30px 200px;
    
}
.social-media-item
{
    
    width: 33%;
    padding-left:200px;
}
footer
{
    background-color: black;
    text-align: center;
    color: white;
    padding:50px 100px 50px 100px;
    
}
